.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 14px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 14px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 323px;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  padding: 10px 31px 10px 29px;
}